{% extends 'base.html' %} {% block title %}home{% endblock title %} {% block content %}

<section>
    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img src="https://source.unsplash.com/400x300/?water" class="img-fluid rounded-circle my-4" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Who we Are</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum unde accusamus itaque vitae distinctio voluptatem magnam qui nisi error quidem illo porro, necessitatibus earum culpa impedit sapiente dolor maxime?</p>
                    <button type="button" href="#" class="btn-icon p-2">
                        Know More <i class="fas fa-ice-cream grow"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img src="https://source.unsplash.com/400x300/?icecream" class="img-fluid rounded-circle my-4" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Our Speciality</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum unde accusamus itaque vitae distinctio voluptatem magnam qui nisi error quidem illo porro, necessitatibus earum culpa impedit sapiente dolor maxime?</p>
                    <button type="button" href="#" class="btn-icon p-2">
                        Know More <i class="fas fa-ice-cream grow"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}