<footer class="page-footer bg-dark">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center ">
                <div class="col md-12 text-center">
                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f text-white fa-2x me-3"></i></a>
                    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fab  fa-twitter text-white fa-2x me-3"></i></a>
                    <a href="https://www.instagram.com/am.gopal_gtm/?next=%2F"><i class="fab fa-instagram text-white fa-2x me-3"></i></a>
                    <a href="https://www.google.com"><i class="fab fa-google text-white fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center text-md-left mt-5 bg-dark">
        <div class="row">


            <div class="col-md-3 mx-auto mb-4 text-white">
                <h6 class="text uppercase font-weight-bold">The Providers</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere alias perferendis ipsa rerum vitae ipsam assumenda neque nemo. Cupiditate officiis, fugit eos maxime animi dicta commodi nostrum nemo a ea.</p>
            </div>

            <div class="col-md-2 mx-auto mb-4 text-white">
                <h6 class="text uppercase font-weight-bold">Products</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" style="text-decoration: none; color: aliceblue;">Softy</a></li>
                    <li class="my-2"><a href="#" style="text-decoration: none; color: aliceblue;">Combo-Pack</a></li>
                    <li class="my-2"><a href="#" style="text-decoration: none; color: aliceblue;">Family-Pack</a></li>
                    <li class="my-2"><a href="#" style="text-decoration: none; color: aliceblue;">fruit-ice-cream</a></li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto mb-4 text-white">
                <h6 class="text uppercase font-weight-bold">Usefull links</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="/" style="text-decoration: none; color: aliceblue;">Home</a></li>
                    <li class="my-2"><a href="/about/" style="text-decoration: none; color: aliceblue;">About-Us</a></li>
                    <li class="my-2"><a href="/services/" style="text-decoration: none; color: aliceblue;">Services</a></li>
                    <li class="my-2"><a href="/contact/" style="text-decoration: none; color: aliceblue;">Contact-Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4 text-white">
                <h6 class="text uppercase font-weight-bold">Contact</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2">
                        <l class="fas fa-home "> Vrindavan, Gautam Pada</l>
                    </li>
                    <li class="my-2">
                        <l class="fas fa-envelope "> gopalgautam@gmail.com</l>
                    </li>
                    <li class="my-2">
                        <l class="fas fa-phone "> 7464859796</l>
                    </li>
                    <li class="my-2">
                        <l class="fas fa-print "> +0000000000128</l>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-2">
        <p style="color: aliceblue;">&copy; <a href="" style="text-decoration: none; color: aliceblue;">The icecream.com</a></p>
        <p style="color:aliceblue;">Designed by Gopal</p>
    </div>


</footer>