<footer class="page-footer bg-dark text-white">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center justify-content-center">
                <div class="col-md-6 text-center">
                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f text-white fa-2x mx-2"></i></a>
                    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fab fa-twitter text-white fa-2x mx-2"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram text-white fa-2x mx-2"></i></a>
                    <a href="https://www.google.com"><i class="fab fa-google text-white fa-2x mx-2"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">The Providers</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere alias perferendis ipsa rerum vitae ipsam assumenda neque nemo. Cupiditate officiis, fugit eos maxime animi dicta commodi nostrum nemo a ea.</p>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="text-white">Softy</a></li>
                    <li class="my-2"><a href="#" class="text-white">Combo-Pack</a></li>
                    <li class="my-2"><a href="#" class="text-white">Family-Pack</a></li>
                    <li class="my-2"><a href="#" class="text-white">Fruit-Ice-Cream</a></li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2"><a href="/" class="text-white">Home</a></li>
                    <li class="my-2"><a href="/about/" class="text-white">About Us</a></li>
                    <li class="my-2"><a href="/services/" class="text-white">Services</a></li>
                    <li class="my-2"><a href="/contact/" class="text-white">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">

                <ul class="list-unstyled">
                    <li class="my-2">
                        <i class="fas fa-home text-white"></i> Vrindavan, Gautam Pada
                    </li>
                    <li class="my-2">
                        <i class="fas fa-envelope text-white"></i> gopalgautam@gmail.com
                    </li>
                    <li class="my-2">
                        <i class="fas fa-phone text-white"></i> 7464859796
                    </li>
                    <li class="my-2">
                        <i class="fas fa-print text-white"></i> +0000000000128
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center py-3">
        <p>&copy; <a href="" class="text-white">TheIceCream.com</a> | Designed by Gopal</p>
    </div>
</footer>
